@import "./variables.css";

/* Effects */
.rectangle-effect {
    width: 100px;
    height: 100px;
    background-color: var(--effect-color);
    border-radius: 10px;
    animation: flash 0.3s ease-out;
}

@keyframes flash {
    0% {
        transform: scale(0.95);
        opacity: 0.7;
        box-shadow: 0 0 0 0 var(--effect-color);
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
        box-shadow: 0 0 0 3px var(--effect-color);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 0 0 var(--effect-color);
    }
}