/* variables */
:root {
    --max-width: 1280px;
    
    --text-color: #fafafa;
    --background-color: #242424;
    --header-color: var(--accent-color);
    
    --accent-color: #9d64ff;
    --accent-color-hover: #9d64ff;
    --accent-color-dimmed: #6f549d;
    
    --effect-color: #9d64ff;
    
    --button-background-color: #1a1a1a;
    --button-border-radius: 0.25rem;
    
    --rectangle-size: 3rem;
    --rectangle-border-radius: 0.25rem;
}
